.status-container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #212529; /* Fundo escuro */
    color: #fff; /* Texto branco para contraste */
    border: 1px solid #495057; /* Borda mais escura */
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.status-dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}


.status-ok {
    background-color: #28a745; /* Verde */
}

.status-error {
    background-color: #dc3545; /* Vermelho */
}

/* Estilo para a notificação piscando */
@keyframes blink-animation {
    0% { background-color: #d4edda; } /* Cor de fundo padrão do alert-success do Bootstrap */
    50% { background-color: #ffeeba; } /* Cor de fundo padrão do alert-warning do Bootstrap */
    100% { background-color: #d4edda; }
}

.blinking-notification {
    animation: blink-animation 1s infinite;
}

.blinking-notification,
.blinking-notification h4,
.blinking-notification p {
    color: #f9f8f8 !important; /* Força a cor do texto para preto */
}