.status-container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.status-dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.status-ok {
    background-color: #28a745; /* Verde */
}

.status-error {
    background-color: #dc3545; /* Vermelho */
}

/* Estilo para a notificação piscando */
@keyframes blink-animation {
    0% { background-color: #d4edda; } /* Cor de fundo padrão do alert-success do Bootstrap */
    50% { background-color: #ffeeba; } /* Cor de fundo padrão do alert-warning do Bootstrap */
    100% { background-color: #d4edda; }
}

.blinking-notification {
    animation: blink-animation 1s infinite;
    color: #212529; /* Cor preta (padrão do Bootstrap para texto escuro) */
}